numpy==1.18.3
requests==2.22.0
joblib==0.13.0
matplotlib==3.2.1
pandas==1.0.3
asyncio==3.4.3
aiohttp==3.5.4
beautifulsoup4==4.6.0
asyncpool==1.0
cltk==0.1.117
hazm==0.7.0
aiodns==2.0.0
hebrew-tokenizer==1.0.3
jieba==0.42.1
konlpy==0.5.2
langdetect==1.0.8
openpyxl==3.0.3
Pillow==7.1.1
pythainlp==2.1.4
selenium==3.141.0
spacy==2.2.4
tinysegmenter==0.4
cchardet==2.1.1
tqdm==4.45.0
xgboost==1.0.2
dnspython==1.16.0
python-Levenshtein==0.12.1
tldextract==2.2.2
soynlp==0.0.493             
psycopg2==2.8.5
