# This .env is for python use only.

# Every data here should be considered as key=string, so try not to add any quotation marks or white cahrs as it will be considered as a part of string value

# If using Boolean values use, python login style: (True, False)

input_folder=processing

#POSTGRES_PORT= POSTGRES EXTERNAL PORT : 54320
#POSTGRES_PASSWORD= POSTGRES PASSWORD
#POSTGRES_USER= POSTGRES USER (better leave as 'postgres')
#POSTGRES_DB= DATABASE NAME for crawler to use

USE_DB=True
DBHOST=dbpostgres
# USE THIS DB NAME as it is setup with this name
POSTGRES_DB=signs_of_life_crawler
DBPORT=5432
POSTGRES_PORT=5432/TCP
DBUSER=postgres
POSTGRES_USER=postgres
DBPASS=h823gd238d832d823d
POSTGRES_PASSWORD=h823gd238d832d823d

SAMPLING_REST_API_ALLOW_UPDATES=False
DO_SAMPLING=True
SAMPLING_RATE=1.000

VERBOSE_DEBUGGING=True
PERFORMANCE_LOGGING=True

# timeout for to request and extract the response of a single url
MINUTES_TO_TIMEOUT=5
# maximum number of connection by TCP connector
LIMIT_REQUEST=200
# maximum size of the queue = batch of urls automatically processed when a Python interpreter is
# available (1 queue per process)
# "MAX_WORKERS": 100,
MAX_WORKERS=50
# number of folds to split input file (example: a 24,000 urls input file is processed in three batches of
# 8,000, each batch is entirely done by one process)
BATCH_SPLIT=10
# request engine/classification on multiple processes
MULTI_PROCESSING=True
# number of processes to use for request engine: 1 process = 1 Python interpreter = one queue = one batch at a time
MAX_PROCESSES=3
#"MAX_MB_SINGLE_URL": 200,

# Whether to use Threads or Processes
#PARALLEL_PREFER": "processes",
# how many requests per second we should make at the most
REQUEST_RATE_LIMIT=100


